html
    head
        title = "Disease"
        link(rel="stylesheet" href ="/stylesheets/style.css")
        link(href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet")

    body
        include layout
        if(message==null)
            div.resultsd
                p.nf
                h1.Title Diseases
                img(src="https://www.knowablemagazine.org/sites/default/files/styles/1600_600/public/articles/banner/2017-11/norovirus_low_web.jpg?itok=fXMr2z2G" class="diseases")
                p
                    for item in result
                        a(href="/diseases/"+item.UMLSCUI) #{item.UMLSCUI} #{item.DName}
                        br
                        br
                    |Click on their names to get more information


        else
            h1.nf No diseases were found! Try again
            br
            img(src="https://cdn.shopify.com/s/files/1/1061/1924/products/Poop_Emoji_7b204f05-eec6-4496-91b1-351acc03d2c7_grande.png?v=1571606036")
        div.footer
            p Created by Katerina Papapostolou and Dimitra Fouska