html
    div.nav
            a(href="/home") Home
            a(href="/diseases") Diseases
            a(href="/genes") Genes
            a(href="/variants") Variants
            div.rightnav
                a(href="/adminpanel") Admin Panel

